@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";
.mapspace {
  height: 500px;
  img {
    max-width: none;
  }
}

.directions {
  @extend .hero-unit;

  form {
    @extend .row;
  }

}

.disambiguation {
  ul {
    margin: 0;
    list-style-type: none;
  }
}

.resultsWrapper {
  @extend .row-fluid;
}

.results {
}
.mapWrapper {
}

.mapcontainer {
  @include clearfix;
}

.choice {
  cursor: pointer;
  background-color: #eee;
  border-radius: 3px;
  margin: 10 0px;
  padding: 10px;
  padding-left: 20px;
  text-indent: -1.2em;
}

.choice:hover {
  background-color: #ccc;
}

td img {
  max-width: none;
}
