@import "compass_twitter_bootstrap";
.mapspace {
  height: 500px;
  width: 60%;
  margin-right: 10px;
  float: left;
}

.directions {
}

.mapcontainer {
  @include makeRow();
}

td img {
  max-width: none;
}
