<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="error">New Park and Ride Stop</h3>
  </div>
  <div class="modal-body">
    <p>We didn't recognize this place as a Park and Ride location. Would you like to help other travelers and add it to the Google Places database?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Do not add</button>
    <button class="btn btn-primary" aria-hidden="true">Add</button>
  </div>
</div>
